folder('{{FOLDER}}') {

    displayName('{{FOLDER}}')

    description('Automatically created project folder')

}


pipelineJob('{{FOLDER}}/{{NAME}}') {


    description(
        'Generated automatically by DevOps Platform'
    )


    definition {


        cpsScm {


            scm {


                git {


                    remote {


                        url('https://github.com/akashnegi62/devops-platform.git')


                        credentials('{{CREDENTIALS}}')


                    }


                    branch('{{BRANCH}}')


                }


            }


            scriptPath('generated/jenkinsfiles/{{NAME}}/Jenkinsfile')


        }


    }


}